{% extends 'layouts/main.html' %}
{% block content %}


<div class="container">

    {% for item in items %}

            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">{{item.title}}</h5>
                </div>
                <div class="card-body row">
                    <div class="col-md-2 col-4"> <img class="card-img-top" src={{item.image_link}} height="200" width="60"></div>
                    <div class="col-md-8 col-8">
                        <p class="card-text">Author: {{item.author}} </p>
                        <p class="card-text">Category: {{item.category}} </p>
                        <p class="card-text">Summary: {{item.summary[:100]}} </p>
                        <a href="{{'/book/'+item.id}}" class="btn btn-primary">Reviews</a>
                    </div>
                </div>
            </div>
    
    <br>
    {% endfor%}
</div>

{% endblock %}
