{% extends 'layouts/main.html' %}
{% block content %}


<div class="container">


<!-- Modal -->
<div class="modal fade" id="DeleteConfirmModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Warning</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal fade" id="DeleteConfirmModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Warning</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Are you sure you want to delete your review?
            </div>
            
            <div class="modal-footer">
              
      
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <button type="button" id='rev_del_btn' class="btn btn-primary">Yes</button>
              <script>
            
                const rev_del_btn=document.getElementById('rev_del_btn');
                rev_del_btn.onclick=function(){
                  console.log('click');
                  
                  fetch("{{url_for('delete_review',book_id=book_id,review_id=my_review.id)}}",
                  {
                  method:'DELETE'
                  }
                  ).then(function(response){
                                      return response.json();
                                  }).then(function(jsonResponse){
                                      if (jsonResponse['success']){
                                       
                                          window.location.href = "{{url_for('book_details',id=book_id)}}";
                                  }}).catch(function(){
                        console.log('error');
                                  });
                }
                          
              </script>
            </div>
           
          </div>
        </div>
      </div>         
    


<h2>Member Reviews</h2>
  {% for review in reviews %}
  <div class="card">
    <div class="card-header">
    
      {% for i in range(1,6) %}
        {% if i<=review.rating %}
          <span class="fa fa-star" style='color:orange'></span>
        {% else %}
      <span class="fa fa-star"></span>
      {% endif %}
     {% endfor %}
 <h4>{{review.title}}</h4>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>{{review.comment}}</p>
        <footer class="blockquote-footer">{{review.user.username}}      ({{review.edited}})</footer>
      </blockquote>
    </div>
  </div>
  <br>
  {% endfor %}
    


{% endblock %}
